<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <form action="/addcomment/{{post.id}}" method="post">
        {% csrf_token %}
        <div>
            <label for="comment">post: </label>
            <input type="text" name="comment">
            
        </div>
        <input type="submit" value="Add">
    </form>
    <br>
    <h1>All the comment</h1>
    <p>------</p> 
    <p>{{post.title}}</p>
    <p>{{post.content}}</p>
    <p>------</p>

    {%for comment in post.comments.all%}
    {%for x in comments%}
    <p>{{x.comment}}</p>
    <p>{{x.user.first_name}}</p>
    <p>{{x.created_at}}</p>
    {%endfor%}
    {%endfor%}
        </body>
</html>