
{% block content %}

  {% block content_header %}
    <h2>My Files</h2>
    <p>
      <a href="{% url 'upload_file' %}" class="btn btn-primary">Upload </a>
    </p>
  {% endblock %}

  <table class="table mb-0">
    <thead>
      <tr>
        <th>Title</th>
        <th>Download</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for file in files %}
        <tr>
          <td>{{ file.title }}</td>
          <td>
            <a href="{{ file.file.url }}" class="btn btn-primary btn-sm" target="_blank">
              Download
            </a>
          </td>
          <td>
            <form method="post" action="{% url 'delete_file' file.id %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
