<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>welcome</title>
    {% load static %}
    <link rel="stylesheet" href= "{% static 'css/style.css' %}">

</head>
<body class="welcome">
    <div class="container">
        <div class="content-wlcm">
            <div class="left wlcm">
                <h1 style="font-size: 40px;">Hello friends!</h1>
                <p style="font-size:25px">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Aliquam expedita itaque fuga hic cupiditate ipsa, labore odio ipsam sunt
                    laudantium laboriosam facere iure ipsum, esse deleniti rem facilis, perspiciatis veniam.</p>
                    <form action="/signin" method="POST">
                        {% csrf_token %%}

                    <input type="submit" class="submit" value="Login">
                </form>
                <form action="/register" method="POST">
                    {% csrf_token %%}

                    <input type="submit" class="submit" value="Signup">
                </form>
            </div>
            <div class="right wlcm">
                <div class="header-wlcm">
                    <img width="60%" src="{% static 'img/hand.png' %}" alt="logo">
                    <h3 style="font-size:100px ; font-weight:bold ;" class="span-name">CODE.<span class="span-logo">E</span></h3>
                </div>
            </div>
        </div>
    </div>
    
    </svg>
</body>
</html>