<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note edit</title>
</head>
<body>
                    {%if note.user.id == request.session.loggedIn %}
                    <form action="/update/note/{{note.id}}" method="POST">
                        {% csrf_token %}
                        <div>
                            <label for="title">title: </label>
                            <input type="text" name="title" value="{{note.title}}">
                            <label for="content">content: </label>
                            <input type="text" name="content" value="{{note.content}}">
                        </div>
                        <input type="submit" value="update">
                    </form>

                    {% else %}
                    <p>title: {{note.title}}</p>
                    <p>content: {{note.content}}</p>
                    {% endif %}
                    
</body>
</html>