<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

    <link href="assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <script src="assets/js/scripts.bundle.js"></script>
    <title>Profile</title>
    {% load static %}
    <link rel="stylesheet" href= "{% static 'css/style.css' %}">

</head>
<body>
    <div>
        <div class="row r-row3">
            <div class="col2 col2-4">
                <h5 class="title-top">all Posts</h5>
                <div class="posts scroll1">
            {%for Z in user_posts%}
            <div class="post post1">
                    <div class="content">
                        {{Z.content}}
                    </div>
            </div>
            {%endfor%}
        </div>
    </div>
    <div>
        <div class="row r-row3">
            <div class="col2 col2-4">
                <h5 class="title-top">all Comments</h5>
    <div class="posts scroll1">
        {%for Z in user_comments%}
        <div class="post post1">
                <div class="content">
                    {{Z.comment}}
                </div>
        </div>
        {%endfor%}
    </div>
    </div>
</body>
</html>